@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Passion+One');

body {
    margin:0;
    text-align: center;
    color:white;
    background: linear-gradient(to right, purple 30% , blue);
    font-family:'Passion One', cursive;
    font-size: 3vw;
}
h1 {
    font-size: 7vw;
    margin: 10% 0 0% 0;
    font-family: 'Righteous', cursive;
}
label{
    display: block;
}
input[type=number]{
    padding:4%;
    margin:0%;
    width: 100%; 
    border:none;
    border-radius: 20px;/*Borders behave differently with % and pizels*/
}
#details{
    display: inline-block;/*displaying inline block has one more advantage, the parent is aligned to the center with the minimum width*/
}
button{
    font-family: 'Passion One', cursive;
    font-size: 3vw;
    margin: 5% 0 5% 0;
    width:108%;
    border-radius: 20px;
    background:blue;
    color:white;
}

h2 {
    margin: 1em 0 0.25em;
}
h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

